.container-details {
    transition: transform 0.3s ease-in-out;
    padding: 20px;
    background-color: #95c482;
    border-radius: 5px;
}

.container-details:hover {
    transform: scale(1.05);
}